<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="unlp.labo.spg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/spg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/spg_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeguimientoSPG"
        tools:ignore="ExtraText">
        <activity
            android:name=".FamiliaInfoActivity"
            android:exported="false" />
        <activity
            android:name=".QuintaInfoActivity"
            android:exported="false" />
        <activity
            android:name=".VisitaInfoActivity"
            android:exported="false" />
        <activity
            android:name=".FamiliasActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioEditarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleActivity"
            android:exported="false" />
        <activity
            android:name=".VisitaEditarActivity"
            android:exported="false" />
        <activity
            android:name=".VisitasActivity"
            android:exported="false" />
        <activity
            android:name=".QuintasActivity"
            android:exported="false" />
        <activity
            android:name=".QuintaEditarActivity"
            android:exported="false" />
        <activity
            android:name=".FamiliaEditarActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>